## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path
dir_data = './data/'

In [4]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [5]:
print("number of row:%s, number of column:%s" % (app_train.shape))

number of row:307511, number of column:122

#### 列出所有欄位

In [28]:
for i, cols in enumerate(app_train.columns):
    print(f'{cols:30s}', end='')
    if i % 2 == 1:
        print()

SK_ID_CURR                    TARGET
NAME_CONTRACT_TYPE            CODE_GENDER
FLAG_OWN_CAR                  FLAG_OWN_REALTY
CNT_CHILDREN                  AMT_INCOME_TOTAL
AMT_CREDIT                    AMT_ANNUITY
AMT_GOODS_PRICE               NAME_TYPE_SUITE
NAME_INCOME_TYPE              NAME_EDUCATION_TYPE
NAME_FAMILY_STATUS            NAME_HOUSING_TYPE
REGION_POPULATION_RELATIVE    DAYS_BIRTH
DAYS_EMPLOYED                 DAYS_REGISTRATION
DAYS_ID_PUBLISH               OWN_CAR_AGE
FLAG_MOBIL                    FLAG_EMP_PHONE
FLAG_WORK_PHONE               FLAG_CONT_MOBILE
FLAG_PHONE                    FLAG_EMAIL
OCCUPATION_TYPE               CNT_FAM_MEMBERS
REGION_RATING_CLIENT          REGION_RATING_CLIENT_W_CITY
WEEKDAY_APPR_PROCESS_START    HOUR_APPR_PROCESS_START
REG_REGION_NOT_LIVE_REGION    REG_REGION_NOT_WORK_REGION
LIVE_REGION_NOT_WORK_REGION   REG_CITY_NOT_LIVE_CITY
REG_CITY_NOT_WORK_CITY        LIVE_CITY_NOT_WORK_CITY
ORGANIZATION_TYPE             EXT_SOURCE_1
EXT_SOURCE_2                  EXT_SOURCE_3
APARTMENTS_AVG                BASEMENTAREA_AVG
YEARS_BEGINEXPLUATATION_AVG   YEARS_BUILD_AVG
COMMONAREA_AVG                ELEVATORS_AVG
ENTRANCES_AVG                 FLOORSMAX_AVG
FLOORSMIN_AVG                 LANDAREA_AVG
LIVINGAPARTMENTS_AVG          LIVINGAREA_AVG
NONLIVINGAPARTMENTS_AVG       NONLIVINGAREA_AVG
APARTMENTS_MODE               BASEMENTAREA_MODE
YEARS_BEGINEXPLUATATION_MODE  YEARS_BUILD_MODE
COMMONAREA_MODE               ELEVATORS_MODE
ENTRANCES_MODE                FLOORSMAX_MODE
FLOORSMIN_MODE                LANDAREA_MODE
LIVINGAPARTMENTS_MODE         LIVINGAREA_MODE
NONLIVINGAPARTMENTS_MODE      NONLIVINGAREA_MODE
APARTMENTS_MEDI               BASEMENTAREA_MEDI
YEARS_BEGINEXPLUATATION_MEDI  YEARS_BUILD_MEDI
COMMONAREA_MEDI               ELEVATORS_MEDI
ENTRANCES_MEDI                FLOORSMAX_MEDI
FLOORSMIN_MEDI                LANDAREA_MEDI
LIVINGAPARTMENTS_MEDI         LIVINGAREA_MEDI
NONLIVINGAPARTMENTS_MEDI      NONLIVINGAREA_MEDI
FONDKAPREMONT_MODE            HOUSETYPE_MODE
TOTALAREA_MODE                WALLSMATERIAL_MODE
EMERGENCYSTATE_MODE           OBS_30_CNT_SOCIAL_CIRCLE
DEF_30_CNT_SOCIAL_CIRCLE      OBS_60_CNT_SOCIAL_CIRCLE
DEF_60_CNT_SOCIAL_CIRCLE      DAYS_LAST_PHONE_CHANGE
FLAG_DOCUMENT_2               FLAG_DOCUMENT_3
FLAG_DOCUMENT_4               FLAG_DOCUMENT_5
FLAG_DOCUMENT_6               FLAG_DOCUMENT_7
FLAG_DOCUMENT_8               FLAG_DOCUMENT_9
FLAG_DOCUMENT_10              FLAG_DOCUMENT_11
FLAG_DOCUMENT_12              FLAG_DOCUMENT_13
FLAG_DOCUMENT_14              FLAG_DOCUMENT_15
FLAG_DOCUMENT_16              FLAG_DOCUMENT_17
FLAG_DOCUMENT_18              FLAG_DOCUMENT_19
FLAG_DOCUMENT_20              FLAG_DOCUMENT_21
AMT_REQ_CREDIT_BUREAU_HOUR    AMT_REQ_CREDIT_BUREAU_DAY
AMT_REQ_CREDIT_BUREAU_WEEK    AMT_REQ_CREDIT_BUREAU_MON
AMT_REQ_CREDIT_BUREAU_QRT     AMT_REQ_CREDIT_BUREAU_YEAR

#### 截取部分資料

In [34]:
app_train.sample(n = 5)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
165121,291412,0,Cash loans,M,N,N,2,220500.0,343800.0,16155.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
16975,119799,0,Cash loans,F,N,Y,0,135000.0,391500.0,20119.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
66060,176612,1,Cash loans,M,N,Y,1,121500.0,284400.0,19134.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
105772,222733,0,Cash loans,M,N,Y,0,76500.0,162000.0,18450.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
105403,222302,0,Cash loans,F,Y,Y,0,193500.0,1125000.0,33025.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子